In [19]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import TimeSeriesSplit
plt.style.use('ggplot')
import warnings
warnings.simplefilter('ignore')

# loading the accident dataset

In [20]:
accidents = pd.read_csv("Accident0515.csv",index_col="Accident_Index")
accidents.head()

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,...,0,1,1,2,2,0,0,1,1,E01002849
200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,...,0,5,4,1,1,0,0,1,1,E01002909
200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,...,0,0,4,1,1,0,0,1,1,E01002857
200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,...,0,0,1,1,1,0,0,1,1,E01002840
200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,...,0,0,7,1,2,0,0,1,1,E01002863

###### checking for columns with missing values

In [27]:
accidents.columns[accidents.isnull().any()]

Index(['Location_Easting_OSGR', 'Location_Northing_OSGR', 'Longitude',
       'Latitude', 'Time', 'LSOA_of_Accident_Location'],
      dtype='object')

In [29]:
#deleting the least important columns
ac=accidents.drop(['Location_Easting_OSGR','Location_Northing_OSGR','Longitude','Latitude'
             ,'LSOA_of_Accident_Location'],axis='columns',inplace=False)
ac.head()

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,...,0,0,1,1,2,2,0,0,1,1
200501BS00002,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,...,0,0,5,4,1,1,0,0,1,1
200501BS00003,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,...,0,0,0,4,1,1,0,0,1,1
200501BS00004,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,...,0,0,0,1,1,1,0,0,1,1
200501BS00005,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,...,0,0,0,7,1,2,0,0,1,1

In [32]:
#check for more columns with missing values
ac.columns[ac.isnull().any()]

Index(['Time'], dtype='object')

In [61]:
#we check if the dataframe has columns with object datetypes...and if so we convert them to numeric datatypes....we do this coz 
#interpolation cnt work with obect datatypes in Timeseries
ac.dtypes

Police_Force                                    int64
Accident_Severity                               int64
Number_of_Vehicles                              int64
Number_of_Casualties                            int64
Date                                           object
Day_of_Week                                     int64
Time                                           object
Local_Authority_(District)                      int64
Local_Authority_(Highway)                      object
1st_Road_Class                                  int64
1st_Road_Number                                 int64
Road_Type                                       int64
Speed_limit                                     int64
Junction_Detail                                 int64
Junction_Control                                int64
2nd_Road_Class                                  int64
2nd_Road_Number                                 int64
Pedestrian_Crossing-Human_Control               int64
Pedestrian_Crossing-Physical_Facilities         int64
Light_Conditions                                int64
Weather_Conditions                              int64
Road_Surface_Conditions                         int64
Special_Conditions_at_Site                      int64
Carriageway_Hazards                             int64
Urban_or_Rural_Area                             int64
Did_Police_Officer_Attend_Scene_of_Accident     int64
dtype: object

In [70]:
#converting object datatypes to numeric datatypes
for col in ac:
    ac[col] = pd.to_numeric(ac[col], errors='coerce')#with errrors='coerce' any value tht cnt be converted to a number is
    #converted to NaN
ac.dtypes

Police_Force                                   int64
Accident_Severity                              int64
Number_of_Vehicles                             int64
Number_of_Casualties                           int64
Date                                           int64
Day_of_Week                                    int64
Time                                           int64
Local_Authority_(District)                     int64
Local_Authority_(Highway)                      int64
1st_Road_Class                                 int64
1st_Road_Number                                int64
Road_Type                                      int64
Speed_limit                                    int64
Junction_Detail                                int64
Junction_Control                               int64
2nd_Road_Class                                 int64
2nd_Road_Number                                int64
Pedestrian_Crossing-Human_Control              int64
Pedestrian_Crossing-Physical_Facilities        int64
Light_Conditions                               int64
Weather_Conditions                             int64
Road_Surface_Conditions                        int64
Special_Conditions_at_Site                     int64
Carriageway_Hazards                            int64
Urban_or_Rural_Area                            int64
Did_Police_Officer_Attend_Scene_of_Accident    int64
dtype: object

In [71]:
ac.interpolate(method='time')

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,1,2,1,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,0,0,1,1,2,2,0,0,1,1
200501BS00002,1,3,1,1,-9223372036854775808,4,-9223372036854775808,12,-9223372036854775808,4,...,0,0,5,4,1,1,0,0,1,1
200501BS00003,1,3,2,1,-9223372036854775808,5,-9223372036854775808,12,-9223372036854775808,5,...,0,0,0,4,1,1,0,0,1,1
200501BS00004,1,3,1,1,-9223372036854775808,6,-9223372036854775808,12,-9223372036854775808,3,...,0,0,0,1,1,1,0,0,1,1
200501BS00005,1,3,1,1,-9223372036854775808,2,-9223372036854775808,12,-9223372036854775808,6,...,0,0,0,7,1,2,0,0,1,1
200501BS00006,1,3,2,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,6,...,0,0,0,1,2,2,6,0,1,1
200501BS00007,1,3,2,1,-9223372036854775808,5,-9223372036854775808,12,-9223372036854775808,5,...,0,0,0,4,1,1,0,0,1,1
200501BS00009,1,3,1,2,-9223372036854775808,6,-9223372036854775808,12,-9223372036854775808,3,...,0,0,0,1,1,1,0,0,1,1
200501BS00010,1,3,2,2,-9223372036854775808,7,-9223372036854775808,12,-9223372036854775808,3,...,304,0,5,4,1,1,0,0,1,1
200501BS00011,1,3,2,5,-9223372036854775808,7,-9223372036854775808,12,-9223372036854775808,4,...,0,0,8,1,1,1,0,0,1,1
200501BS00012,1,3,1,1,-9223372036854775808,1,-9223372036854775808,12,-9223372036854775808,3,...,325,0,5,4,1,1,0,0,1,1
200501BS00014,1,3,2,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,308,0,5,4,1,2,0,0,1,1
200501BS00015,1,3,1,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,6,...,3220,0,1,1,2,2,0,0,1,1
200501BS00016,1,3,2,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,3216,0,0,4,2,2,0,0,1,1
200501BS00017,1,3,1,2,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,0,0,0,1,1,1,0,0,1,1
200501BS00018,1,3,1,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,0,0,1,1,1,1,0,0,1,1
200501BS00019,1,2,2,1,-9223372036854775808,5,-9223372036854775808,12,-9223372036854775808,6,...,0,0,0,4,1,1,0,0,1,1
200501BS00020,1,3,2,1,-9223372036854775808,6,-9223372036854775808,12,-9223372036854775808,3,...,4,0,0,1,1,1,0,0,1,1
200501BS00021,1,3,2,1,-9223372036854775808,6,-9223372036854775808,12,-9223372036854775808,4,...,0,0,0,4,1,1,0,0,1,1
200501BS00022,1,2,1,1,-9223372036854775808,7,-9223372036854775808,12,-9223372036854775808,3,...,0,0,0,4,1,1,0,0,1,1
200501BS00023,1,3,1,1,-9223372036854775808,2,-9223372036854775808,12,-9223372036854775808,6,...,0,0,0,4,1,1,0,0,1,2
200501BS00024,1,3,2,1,-9223372036854775808,2,-9223372036854775808,12,-9223372036854775808,4,...,0,0,0,4,1,1,0,0,1,2
200501BS00025,1,3,2,1,-9223372036854775808,2,-9223372036854775808,12,-9223372036854775808,3,...,3220,0,0,4,1,4,0,0,1,1
200501BS00028,1,3,2,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,5,...,0,0,0,4,1,1,0,0,1,2
200501BS00029,1,3,2,1,-9223372036854775808,7,-9223372036854775808,12,-9223372036854775808,3,...,319,0,5,1,1,2,0,0,1,1
200501BS00031,1,3,1,1,-9223372036854775808,4,-9223372036854775808,12,-9223372036854775808,5,...,0,0,1,4,2,2,0,0,1,1
200501BS00032,1,3,2,1,-9223372036854775808,1,-9223372036854775808,12,-9223372036854775808,4,...,0,0,0,4,1,1,0,0,1,1
200501BS00033,1,3,2,2,-9223372036854775808,7,-9223372036854775808,12,-9223372036854775808,3,...,3218,0,5,1,2,2,0,0,1,3
200501BS70001,1,3,2,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,0,0,5,4,2,2,0,0,1,1
200501BS70002,1,3,2,1,-9223372036854775808,4,-9223372036854775808,12,-9223372036854775808,4,...,0,0,1,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015984126215,98,3,3,2,-9223372036854775808,2,-9223372036854775808,917,-9223372036854775808,3,...,6357,0,0,1,1,1,0,0,2,1
2015984126815,98,3,2,2,-9223372036854775808,6,-9223372036854775808,917,-9223372036854775808,5,...,0,0,0,1,1,1,0,0,2,1
2015984126915,98,3,2,3,-9223372036854775808,2,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,6,2,5,0,0,2,1
2015984127315,98,3,2,1,-9223372036854775808,2,-9223372036854775808,917,-9223372036854775808,6,...,0,0,0,1,1,1,0,0,2,1
2015984127515,98,3,2,1,-9223372036854775808,1,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,1,1,1,0,0,2,2
2015984127615,98,3,1,1,-9223372036854775808,5,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,1,2,2,0,0,2,1
2015984128215,98,1,1,2,-9223372036854775808,1,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,1,1,1,0,0,2,1
2015984128515,98,2,1,1,-9223372036854775808,6,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,1,1,1,0,0,2,1
2015984129115,98,3,2,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,6,1,1,0,0,2,1
2015984129715,98,3,2,1,-9223372036854775808,5,-9223372036854775808,917,-9223372036854775808,4,...,75,0,0,1,1,1,0,0,2,1
2015984130315,98,3,2,1,-9223372036854775808,1,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,1,1,1,0,0,2,2
2015984130815,98,2,1,1,-9223372036854775808,7,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,1,1,1,0,0,2,1
2015984131215,98,3,1,1,-9223372036854775808,1,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,6,1,1,0,0,2,1
2015984132215,98,3,1,1,-9223372036854775808,3,-9223372036854775808,917,-9223372036854775808,6,...,721,0,0,1,1,1,0,0,2,1
2015984132315,98,3,2,2,-9223372036854775808,6,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,1,1,1,0,0,2,1
2015984132815,98,2,2,1,-9223372036854775808,2,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,1,1,1,0,0,2,1
2015984133015,98,3,2,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,4,...,0,0,4,4,1,2,0,0,2,1
2015984133115,98,3,1,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,6,1,2,0,0,2,1
2015984133815,98,2,3,4,-9223372036854775808,2,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,1,2,2,0,0,2,1
2015984134815,98,3,1,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,6,1,1,0,7,2,1
2015984135815,98,3,2,1,-9223372036854775808,6,-9223372036854775808,917,-9223372036854775808,3,...,6357,0,0,6,2,2,0,0,2,1
2015984136815,98,3,1,2,-9223372036854775808,3,-9223372036854775808,917,-9223372036854775808,5,...,0,0,0,4,1,2,0,0,2,1
2015984137515,98,3,2,1,-9223372036854775808,3,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,6,4,2,0,0,2,1
2015984137615,98,3,2,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,4,...,0,0,5,4,2,2,0,0,2,1
2015984139015,98,3,1,1,-9223372036854775808,1,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,6,7,4,0,0,2,2
2015984139115,98,3,3,1,-9223372036854775808,6,-9223372036854775808,917,-9223372036854775808,3,...,0,0,0,1,1,2,0,0,2,1
2015984139715,98,3,2,1,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,4,...,0,0,0,1,1,2,0,0,2,1
2015984140215,98,2,1,4,-9223372036854775808,4,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,6,4,2,0,0,2,1
2015984140515,98,3,3,3,-9223372036854775808,7,-9223372036854775808,917,-9223372036854775808,4,...,74,0,0,1,2,2,0,0,2,1
2015984141415,98,3,13,7,-9223372036854775808,5,-9223372036854775808,917,-9223372036854775808,2,...,0,0,0,6,3,4,0,0,2,1

In [72]:
print(ac.isnull().values.any())

False

# loading the casualities dataset

In [65]:
casualities= pd.read_csv("Casualities0515.csv",error_bad_lines = False,index_col="Accident_Index",warn_bad_lines = False)
casualities.head()

,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
Accident_Index,,,,,,,,,,,,,,
200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

###### checking for columns with missing values

In [96]:
casualities.columns[casualities.isnull().any()]

Index([], dtype='object')

In [74]:
#check if there any object data types
casualities.dtypes

Vehicle_Reference                     int64
Casualty_Reference                    int64
Casualty_Class                        int64
Sex_of_Casualty                       int64
Age_of_Casualty                       int64
Age_Band_of_Casualty                  int64
Casualty_Severity                     int64
Pedestrian_Location                   int64
Pedestrian_Movement                   int64
Car_Passenger                         int64
Bus_or_Coach_Passenger                int64
Pedestrian_Road_Maintenance_Worker    int64
Casualty_Type                         int64
Casualty_Home_Area_Type               int64
dtype: object

In [84]:
casualities.interpolate(method='time')

,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
Accident_Index,,,,,,,,,,,,,,
200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1
200501BS00006,2,1,1,2,30,6,3,0,0,0,0,-1,3,1
200501BS00007,1,1,1,1,31,6,3,0,0,0,0,-1,3,-1
200501BS00009,1,1,3,2,13,3,3,6,9,0,0,-1,0,1
200501BS00009,1,2,3,2,13,3,3,6,9,0,0,-1,0,1
200501BS00010,1,1,1,1,35,6,3,0,0,0,0,-1,9,1
200501BS00010,2,2,1,2,48,8,3,0,0,0,0,-1,9,1
200501BS00011,1,1,2,2,26,6,3,0,0,0,4,-1,11,1
200501BS00011,1,2,2,2,9,2,3,0,0,0,4,-1,11,1
200501BS00011,1,3,2,2,40,7,3,0,0,0,4,-1,11,1
200501BS00011,1,4,2,2,38,7,3,0,0,0,4,-1,11,1
200501BS00011,1,5,2,2,28,6,3,0,0,0,4,-1,11,-1
200501BS00012,1,1,3,2,23,5,3,1,4,0,0,-1,0,1
200501BS00014,2,1,1,2,20,4,3,0,0,0,0,-1,3,-1
200501BS00015,1,1,3,2,75,10,3,1,1,0,0,-1,0,-1
200501BS00016,1,1,1,1,34,6,3,0,0,0,0,-1,9,1
200501BS00017,1,1,1,1,42,7,3,0,0,0,0,-1,5,1
200501BS00017,1,2,3,2,31,6,3,5,3,0,0,-1,0,-1
200501BS00018,1,1,3,2,56,9,3,1,1,0,0,-1,0,1
200501BS00019,1,1,1,1,54,8,2,0,0,0,0,-1,5,1
200501BS00020,2,1,1,1,26,6,3,0,0,0,0,-1,3,1
200501BS00021,1,1,1,1,33,6,3,0,0,0,0,-1,5,1
200501BS00022,1,1,3,1,-1,-1,2,5,1,0,0,-1,0,-1
200501BS00023,1,1,3,1,49,8,3,5,3,0,0,-1,0,-1
200501BS00024,2,1,1,2,25,5,3,0,0,0,0,-1,1,1
200501BS00025,2,1,1,1,59,9,3,0,0,0,0,-1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014984131014,2,1,2,1,46,8,3,0,0,1,0,0,9,3
2014984131214,1,1,3,1,39,7,3,6,9,0,0,0,0,2
2014984131414,1,1,1,1,78,11,3,0,0,0,0,0,9,2
2014984131414,1,3,2,2,77,11,2,0,0,1,0,0,9,2
2014984131414,2,2,1,1,53,8,3,0,0,0,0,0,9,2
2014984131714,4,1,1,1,64,9,3,0,0,0,0,0,9,1
2014984132014,2,1,1,1,57,9,3,0,0,0,0,0,9,1
2014984132714,1,1,1,1,41,7,3,0,0,0,0,0,9,2
2014984133414,2,1,3,1,74,10,2,5,1,0,0,0,0,3
2014984133514,1,1,1,1,65,9,3,0,0,0,0,0,9,2
2014984133514,2,2,1,2,52,8,3,0,0,0,0,0,9,3
2014984133514,2,3,2,2,26,6,3,0,0,1,0,0,9,-1
2014984133714,1,1,1,1,18,4,3,0,0,0,0,0,3,3
2014984133914,1,1,1,1,52,8,2,0,0,0,0,0,9,3
2014984134314,1,1,1,1,48,8,3,0,0,0,0,0,9,2
2014984134614,2,1,1,2,51,8,3,0,0,0,0,0,19,2
2014984134914,1,1,1,1,67,10,1,0,0,0,0,0,9,1
2014984134914,1,2,2,1,7,2,3,0,0,2,0,0,9,1
2014984134914,1,3,2,1,3,1,3,0,0,2,0,0,9,1
2014984135714,1,1,1,1,22,5,3,0,0,0,0,0,9,3
2014984135914,1,1,1,1,20,4,3,0,0,0,0,0,21,-1
2014984136214,1,1,2,1,54,8,3,0,0,2,0,0,9,1
2014984136414,1,1,1,1,24,5,2,0,0,0,0,0,9,3
2014984137514,1,1,1,1,30,6,3,0,0,0,0,0,21,1
2014984137514,1,2,2,1,32,6,3,0,0,0,0,0,21,1
2014984137714,1,1,2,2,16,4,3,0,0,2,0,0,9,1
2014984138414,1,1,1,1,27,6,3,0,0,0,0,0,9,1
2014984138414,2,2,1,1,44,7,2,0,0,0,0,0,19,1
2014984139614,1,2,2,1,61,9,3,0,0,0,4,0,11,2
2014984139614,2,1,1,1,79,11,3,0,0,0,0,0,9,3

In [77]:
print(casualities.isnull().values.any())

False

# loading the vehicle dataset

In [78]:
vehicles= pd.read_csv("Vehicles0515.csv",error_bad_lines = False,index_col="Accident_Index",warn_bad_lines = False)
vehicles.head()

,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,1,9,0,18,0,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
200501BS00002,1,11,0,4,0,3,0,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
200501BS00003,1,11,0,17,0,0,0,4,0,0,...,1,1,1,35,6,8300,2,5,2,1
200501BS00003,2,9,0,2,0,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
200501BS00004,1,9,0,18,0,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

###### checking for columns with misssing values

In [79]:
vehicles.columns[vehicles.isnull().any()]

Index(['Vehicle_Reference', 'Vehicle_Type', 'Towing_and_Articulation',
       'Vehicle_Manoeuvre', 'Vehicle_Location-Restricted_Lane',
       'Junction_Location', 'Skidding_and_Overturning',
       'Hit_Object_in_Carriageway', 'Vehicle_Leaving_Carriageway',
       'Hit_Object_off_Carriageway', '1st_Point_of_Impact',
       'Was_Vehicle_Left_Hand_Drive?', 'Journey_Purpose_of_Driver',
       'Sex_of_Driver', 'Age_of_Driver', 'Age_Band_of_Driver',
       'Engine_Capacity_(CC)', 'Propulsion_Code', 'Age_of_Vehicle',
       'Driver_IMD_Decile', 'Driver_Home_Area_Type'],
      dtype='object')

In [80]:
#drop non important columns
vs=vehicles.drop(['Vehicle_Reference','Towing_and_Articulation','Junction_Location','Vehicle_Leaving_Carriageway',
                  'Hit_Object_off_Carriageway','Was_Vehicle_Left_Hand_Drive?','Age_Band_of_Driver','Engine_Capacity_(CC)',
                  'Propulsion_Code','Driver_IMD_Decile','Driver_Home_Area_Type'],axis='columns',inplace=False)
vs.head()

,Vehicle_Type,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,1st_Point_of_Impact,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
Accident_Index,,,,,,,,,,
200501BS00001,9,18,0,0,0,1,15,2,74,-1
200501BS00002,11,4,0,0,0,4,1,1,42,3
200501BS00003,11,17,0,0,4,4,1,1,35,5
200501BS00003,9,2,0,0,0,3,15,1,62,6
200501BS00004,9,18,0,0,0,1,15,2,49,4

In [81]:
vs.columns[vs.isnull().any()]#vs.loc[:, vs.isnull().any()]in case you want the columns printed out

Index(['Vehicle_Type', 'Vehicle_Manoeuvre', 'Vehicle_Location-Restricted_Lane',
       'Skidding_and_Overturning', 'Hit_Object_in_Carriageway',
       '1st_Point_of_Impact', 'Journey_Purpose_of_Driver', 'Sex_of_Driver',
       'Age_of_Driver', 'Age_of_Vehicle'],
      dtype='object')

In [91]:
#handle the missing values
vs1= vs.fillna(vs.mean(axis=0))
vs1.head(10)

,Vehicle_Type,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,1st_Point_of_Impact,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
Accident_Index,,,,,,,,,,
200501BS00001,9.0,18.0,0.0,0.0,0.0,1.0,15.0,2.0,74.0,-1.0
200501BS00002,11.0,4.0,0.0,0.0,0.0,4.0,1.0,1.0,42.0,3.0
200501BS00003,11.0,17.0,0.0,0.0,4.0,4.0,1.0,1.0,35.0,5.0
200501BS00003,9.0,2.0,0.0,0.0,0.0,3.0,15.0,1.0,62.0,6.0
200501BS00004,9.0,18.0,0.0,0.0,0.0,1.0,15.0,2.0,49.0,4.0
200501BS00005,3.0,18.0,0.0,1.0,10.0,1.0,15.0,1.0,49.0,10.0
200501BS00006,9.0,5.0,0.0,0.0,0.0,0.0,15.0,1.0,51.0,1.0
200501BS00006,3.0,18.0,0.0,0.0,0.0,0.0,15.0,2.0,30.0,2.0
200501BS00007,3.0,18.0,0.0,0.0,4.0,1.0,15.0,1.0,31.0,-1.0
200501BS00007,9.0,2.0,0.0,0.0,0.0,2.0,15.0,1.0,41.0,4.0

In [93]:
vs1.isnull().values.any()

False

In [102]:
#he reduce() function is used to apply a particular function passed in its argument to all of the list elements
from functools import reduce
dfs = [ac, casualities, vs1]
df_final = reduce(lambda left,right: pd.merge(left,right,on='Accident_Index'), dfs)#lambda takes in other functions as arguments
df_final.head()

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Vehicle_Type,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,1st_Point_of_Impact,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,1,2,1,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,9.0,18.0,0.0,0.0,0.0,1.0,15.0,2.0,74.0,-1.0
200501BS00001,1,2,1,1,-9223372036854775808,3,-9223372036854775808,12,-9223372036854775808,3,...,9.0,18.0,0.0,0.0,0.0,1.0,15.0,2.0,74.0,-1.0
200501BS00002,1,3,1,1,-9223372036854775808,4,-9223372036854775808,12,-9223372036854775808,4,...,11.0,4.0,0.0,0.0,0.0,4.0,1.0,1.0,42.0,3.0
200501BS00002,1,3,1,1,-9223372036854775808,4,-9223372036854775808,12,-9223372036854775808,4,...,11.0,4.0,0.0,0.0,0.0,4.0,1.0,1.0,42.0,3.0
200501BS00003,1,3,2,1,-9223372036854775808,5,-9223372036854775808,12,-9223372036854775808,5,...,11.0,17.0,0.0,0.0,4.0,4.0,1.0,1.0,35.0,5.0

In [103]:
df_final.isnull().values.any()

False

# visualisations

In [118]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/5e/49/b95c037b717b4ceadc76b6e164603471225c27052d1611d5a2e832757945/xgboost-0.90-py2.py3-none-win_amd64.whl (18.3MB)
Requirement already satisfied: scipy in c:\users\karungi lydia\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\users\karungi lydia\anaconda3\lib\site-packages (from xgboost) (1.16.2)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [121]:
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
from sklearn.metrics import average_precision_score
from xgboost.sklearn import XGBClassifier
from xgboost import plot_importance