In [20]:
import pandas as pd
import numpy as np


# The first step is to load the data from the csv files into the IDE

#Importing from the accident excel file
ac=pd.read_csv("Accidents0515.csv", low_memory=False)

#Importing from the casuality excel file
cs=pd.read_csv("Casualties0515.csv",low_memory=False)

#Importing from the Vehicle excel file
vs=pd.read_csv("Vehicles0515.csv", low_memory=False)

In [21]:
#Dropping some cells that wont be used
ac1=ac.drop(['Location_Easting_OSGR','1st_Road_Class','Location_Northing_OSGR','Police_Force','1st_Road_Number','2nd_Road_Class','2nd_Road_Number','Pedestrian_Crossing-Human_Control','Pedestrian_Crossing-Physical_Facilities','Special_Conditions_at_Site','Carriageway_Hazards','LSOA_of_Accident_Location'],axis='columns',inplace=False)

# check if there exist nan values
print(ac1.isnull().values.any())

True

In [22]:
#filling in the missing values using forward fill
ac1.fillna(0)
print(ac1.isnull().values.any())

True

In [23]:
#Dropping some cells that wont be used
cs1=cs.drop(['Pedestrian_Movement','Vehicle_Reference','Casualty_Reference','Sex_of_Casualty','Age_of_Casualty','Car_Passenger','Bus_or_Coach_Passenger','Pedestrian_Road_Maintenance_Worker','Casualty_Type','Casualty_Home_Area_Type'],axis='columns',inplace=False)
# check if there exist nan values
print(cs1.isnull().values.any())
#there are no nan values
#do other types of cleaing

False

In [24]:
#Dropping some cells that wont be used
vs1=vs.drop(['Vehicle_Reference','Towing_and_Articulation','Junction_Location','Vehicle_Leaving_Carriageway','Hit_Object_off_Carriageway','Was_Vehicle_Left_Hand_Drive?','Journey_Purpose_of_Driver','Age_Band_of_Driver','Engine_Capacity_(CC)','Propulsion_Code','Driver_IMD_Decile','Driver_Home_Area_Type'],axis='columns',inplace=False)
# check if there exist nan values
print(vs1.isnull().values.any())

False

In [30]:
#dropping the Accident_Index in cs dataframe
cs2=cs1.drop(['Accident_Index'],axis='columns',inplace=False)

#concatenate the dataframe now to join ac and cs (which lacks the accident_index because they would clash with that of ac)
all_data=pd.concat([ac1,cs2],axis='columns')

#dropping the Accident_Index in vs dataframe
vs2=vs1.drop(['Accident_Index'],axis='columns',inplace=False)

#concatenate the dataframe now to join all_data and vs (which lacks the accident_index because they would clash with that of all_data)
all_data_1=pd.concat([all_data,vs2],axis='columns')

all_data.head()

,Accident_Index,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),...,Junction_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,Casualty_Class,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location
0,200501BS00001,-0.191170,51.489096,2,1,1,04-01-05,3,17:42,12,...,-1,1,2,2,1,1,3,7,2,1
1,200501BS00002,-0.211708,51.520075,3,1,1,05-01-05,4,17:36,12,...,2,4,1,1,1,1,2,7,3,0
2,200501BS00003,-0.206458,51.525301,3,2,1,06-01-05,5,0:15,12,...,-1,4,1,1,1,1,1,9,3,0
3,200501BS00004,-0.173862,51.482442,3,1,1,07-01-05,6,10:35,12,...,-1,1,1,1,1,1,3,6,3,5
4,200501BS00005,-0.156618,51.495752,3,1,1,10-01-05,2,21:13,12,...,-1,7,1,2,1,1,1,8,3,0