In [1]:
import pandas as pd
import numpy as np

# The first step is to load the data from the csv files

In [2]:
#Importing from the accident excel file
ac=pd.read_csv("Accidents0515.csv", low_memory=False)
ac.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04-01-05,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05-01-05,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06-01-05,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07-01-05,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10-01-05,...,0,0,7,1,2,0,0,1,1,E01002863

In [3]:
#Importing from the casuality excel file
cs=pd.read_csv("Casualties0515.csv",low_memory=False)
cs.head()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

In [4]:
#Importing from the Vehicle excel file
vs=pd.read_csv("Vehicles0515.csv", low_memory=False)
vs.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

# Dropping unwanted columns

In [5]:
#Dropping some cells that wont be used
ac1=ac.drop(['Location_Easting_OSGR','1st_Road_Class','Location_Northing_OSGR','Police_Force',
             '1st_Road_Number','2nd_Road_Class','2nd_Road_Number','Pedestrian_Crossing-Human_Control',
             'Pedestrian_Crossing-Physical_Facilities','Special_Conditions_at_Site','Carriageway_Hazards',
             'LSOA_of_Accident_Location'],axis='columns',inplace=False)

# check if there exist nan values
print(ac1.isnull().values.any())

#removing missing values using interpolation
ac1.interpolate(method ='linear', limit_direction ='forward') 

ac1.head()

True

,Accident_Index,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),Road_Type,Speed_limit,Junction_Detail,Junction_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
0,200501BS00001,-0.191170,51.489096,2,1,1,04-01-05,3,17:42,12,E09000020,6,30,0,-1,1,2,2,1,1
1,200501BS00002,-0.211708,51.520075,3,1,1,05-01-05,4,17:36,12,E09000020,3,30,6,2,4,1,1,1,1
2,200501BS00003,-0.206458,51.525301,3,2,1,06-01-05,5,0:15,12,E09000020,6,30,0,-1,4,1,1,1,1
3,200501BS00004,-0.173862,51.482442,3,1,1,07-01-05,6,10:35,12,E09000020,6,30,0,-1,1,1,1,1,1
4,200501BS00005,-0.156618,51.495752,3,1,1,10-01-05,2,21:13,12,E09000020,6,30,0,-1,7,1,2,1,1

In [6]:
#Dropping some cells that wont be used
cs1=cs.drop(['Pedestrian_Movement','Vehicle_Reference','Casualty_Reference','Age_of_Casualty'
             ,'Bus_or_Coach_Passenger','Pedestrian_Road_Maintenance_Worker','Casualty_Type',
             'Casualty_Home_Area_Type'],axis='columns',inplace=False)

# check if there exist nan values
print(cs1.isnull().values.any())

cs1.head()

False

,Accident_Index,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Car_Passenger
0,200501BS00001,3,1,7,2,1,0
1,200501BS00002,2,1,7,3,0,0
2,200501BS00003,1,1,9,3,0,0
3,200501BS00004,3,1,6,3,5,0
4,200501BS00005,1,1,8,3,0,0

In [7]:
#Dropping some cells that wont be used
vs1=vs.drop(['Vehicle_Reference','Towing_and_Articulation','Junction_Location','Vehicle_Leaving_Carriageway',
             'Hit_Object_off_Carriageway','Was_Vehicle_Left_Hand_Drive?','Age_Band_of_Driver','Engine_Capacity_(CC)',
             'Propulsion_Code','Driver_IMD_Decile','Driver_Home_Area_Type'],
            axis='columns',inplace=False)

# check if there exist nan values
print(vs1.isnull().values.any())

vs1.head()

False

,Accident_Index,Vehicle_Type,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,1st_Point_of_Impact,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
0,200501BS00001,9,18,0,0,0,1,15,2,74,-1
1,200501BS00002,11,4,0,0,0,4,1,1,42,3
2,200501BS00003,11,17,0,0,4,4,1,1,35,5
3,200501BS00003,9,2,0,0,0,3,15,1,62,6
4,200501BS00004,9,18,0,0,0,1,15,2,49,4

# Combine datasets into one

In [8]:
#dropping the Accident_Index since we already have it in Accident dataset
cs2=cs1.drop(['Accident_Index'],axis='columns',inplace=False)
vs2=vs1.drop(['Accident_Index'],axis='columns',inplace=False)

#concatenate the dataframe now to join ac and cs (which lacks the accident_index because they would clash with that of ac)
data=pd.concat([ac1,cs2],axis='columns')

#concatenate the dataframe now to join all_data and vs (which lacks the accident_index because they would clash with that of all_data)
all_data=pd.concat([data,vs2],axis='columns')

all_data.set_index('Accident_Index')

all_data.head()

,Accident_Index,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),...,Vehicle_Type,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,1st_Point_of_Impact,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
0,200501BS00001,-0.191170,51.489096,2,1,1,04-01-05,3,17:42,12,...,9,18,0,0,0,1,15,2,74,-1
1,200501BS00002,-0.211708,51.520075,3,1,1,05-01-05,4,17:36,12,...,11,4,0,0,0,4,1,1,42,3
2,200501BS00003,-0.206458,51.525301,3,2,1,06-01-05,5,0:15,12,...,11,17,0,0,4,4,1,1,35,5
3,200501BS00004,-0.173862,51.482442,3,1,1,07-01-05,6,10:35,12,...,9,2,0,0,0,3,15,1,62,6
4,200501BS00005,-0.156618,51.495752,3,1,1,10-01-05,2,21:13,12,...,9,18,0,0,0,1,15,2,49,4

In [9]:
# check if there exist nan values
print(all_data.isnull().values.any())

True

# Clean

In [10]:
# counting the number of misssing values
all_data.isnull().sum()

Accident_Index                                  0
Longitude                                      31
Latitude                                       31
Accident_Severity                               0
Number_of_Vehicles                              0
Number_of_Casualties                            0
Date                                            0
Day_of_Week                                     0
Time                                            1
Local_Authority_(District)                      0
Local_Authority_(Highway)                       0
Road_Type                                       0
Speed_limit                                     0
Junction_Detail                                 0
Junction_Control                                0
Light_Conditions                                0
Weather_Conditions                              0
Road_Surface_Conditions                         0
Urban_or_Rural_Area                             0
Did_Police_Officer_Attend_Scene_of_Accident     0
Casualty_Class                                  0
Sex_of_Casualty                                 0
Age_Band_of_Casualty                            0
Casualty_Severity                               0
Pedestrian_Location                             0
Car_Passenger                                   0
Vehicle_Type                                    0
Vehicle_Manoeuvre                               0
Vehicle_Location-Restricted_Lane                0
Skidding_and_Overturning                        0
Hit_Object_in_Carriageway                       0
1st_Point_of_Impact                             0
Journey_Purpose_of_Driver                       0
Sex_of_Driver                                   0
Age_of_Driver                                   0
Age_of_Vehicle                                  0
dtype: int64

In [13]:
# drop rows with missing values
all_data.dropna(inplace=True)

# check
all_data.isnull().values.any()

False

In [14]:
all_data.count()

Accident_Index                                 99967
Longitude                                      99967
Latitude                                       99967
Accident_Severity                              99967
Number_of_Vehicles                             99967
Number_of_Casualties                           99967
Date                                           99967
Day_of_Week                                    99967
Time                                           99967
Local_Authority_(District)                     99967
Local_Authority_(Highway)                      99967
Road_Type                                      99967
Speed_limit                                    99967
Junction_Detail                                99967
Junction_Control                               99967
Light_Conditions                               99967
Weather_Conditions                             99967
Road_Surface_Conditions                        99967
Urban_or_Rural_Area                            99967
Did_Police_Officer_Attend_Scene_of_Accident    99967
Casualty_Class                                 99967
Sex_of_Casualty                                99967
Age_Band_of_Casualty                           99967
Casualty_Severity                              99967
Pedestrian_Location                            99967
Car_Passenger                                  99967
Vehicle_Type                                   99967
Vehicle_Manoeuvre                              99967
Vehicle_Location-Restricted_Lane               99967
Skidding_and_Overturning                       99967
Hit_Object_in_Carriageway                      99967
1st_Point_of_Impact                            99967
Journey_Purpose_of_Driver                      99967
Sex_of_Driver                                  99967
Age_of_Driver                                  99967
Age_of_Vehicle                                 99967
dtype: int64

# Now we have clean data, we can begin visualizations

In [90]:
import gmplot
import gmaps

# gmap2 = gmplot.GoogleMapPlotter.from_geocode( "Kampala") 
# gmap2.apikey = "AIzaSyBHTpkmjqbfaCfh3uUqQOYINBki_Gw0gsU"
# gmap2.draw("kampala.html")

# gmap1 = gmplot.GoogleMapPlotter(53.043649, -0.915276, 13)
# gmap1.apikey = "AIzaSyBHTpkmjqbfaCfh3uUqQOYINBki_Gw0gsU"

# latitudes = all_data['Latitude'].values
# longitudes = all_data['Longitude'].values

gmaps.configure(api_key="AIzaSyBHTpkmjqbfaCfh3uUqQOYINBki_Gw0gsU")
gmaps.figure()

area_cordinates=(53.043649, -0.915276)
fig = gmaps.figure(center=area_cordinates, zoom_level=6.5,map_type='ROADMAP')
locations= all_data[['Latitude','Longitude']]

accident_severity = gmaps.heatmap_layer(locations, weights=all_data['Accident_Severity'])
accident_severity.max_intensity = 6
accident_severity.point_radius = 1

fig.add_layer(accident_severity)
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="brunojay001@gmail.com")

lat = list(locations['Latitude'])
long = list(locations['Longitude'])
loc = []
addresses = []

for i in range(10):
    loc.append(geolocator.reverse(lat[i],long[i]))
    
for l in loc:
    addresses.append(l.address)

addresses

['River Gardens Walk, East Greenwich, Greenwich, London, Greater London, England, SE10 0NJ, UK',
 '400kV Gas Insulated Switchgear, South Crescent, Mill Meads, Newham, London, Greater London, England, E16 4TL, UK',
 'UKMail, Twelvetrees Crescent, Mill Meads, Newham, London, Greater London, England, E3 3JL, UK',
 'Greenwich Park Street, East Greenwich, Greenwich, London, Greater London, England, SE10 9LR, UK',
 'GR42, Tunnel Avenue, Greenwich Peninsula, Greenwich, London, Greater London, England, SE10 0PT, UK',
 'Oban House, Oban Street, Blackwall, London Borough of Tower Hamlets, London, Greater London, England, E14 0JB, UK',
 'East India Dock Road, Blackwall, London Borough of Tower Hamlets, London, Greater London, England, E14 0HR, UK',
 'Arora Ballroom, Blackwall Tunnel, Northumberland Wharf Waste Transfer Station, Blackwall, London Borough of Tower Hamlets, London, Greater London, England, E14 9SA, United Kingdom',
 'Arches Leisure Centre, Greenwich Park Street, East Greenwich, Greenwich, London, Greater London, England, SE10 9LT, UK',
 'Leamouth Road, Blackwall, London Borough of Tower Hamlets, London, Greater London, England, E14 0HR, UK']